// out: ../css/master.css, compress: true

/* @group Colors */

@LightGrey: rgb(220, 220, 220);
@Grey: rgb(100, 100, 100);
@AlmostBlack: rgb(80, 80, 80);

@NavDropShaddow: rgba(0, 0, 0, 0.2);

/* @end Colors */

/* @group Basic styles / overrides */
html, body {
    margin: 0;
    padding: 0;
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: @AlmostBlack;
    height: 100%;
}

img {
    border: none;
}

a {

}

a:hover {

}

a:active {

}

a:focus {

}

a:visited {

}

p {

}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

ul {
    li {

    }
}

/* @end Basic styles / overrides */

/* @group Reusable elements */

/* @end Reusable elements */

/* @group Navigation */

nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 0;
    padding-right: 0;
    height: 36px;
    background-color: white;
    border-bottom: 1px solid @LightGrey;
    box-shadow: 0 0 2px @NavDropShaddow;

    ul {
        float: left;
        width: 100%;
        font-size: 14px;
        text-transform: uppercase;
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            float: left;
            width: 100%;
            height: 36px;

            a {
                display: block;
                width: auto;
                height: 18px;
                padding: 11px 9px 7px 9px;
            }
        }
    }

    .menu-button {
        float: left;
        margin: 5px;
        width: 18px;
        height: 18px;
        padding: 3px;
        border-radius: 2px;
        border: 1px solid @LightGrey;

        .menu-line {
            float: left;
            width: 18px;
            height: 2px;
            margin: 3px 0 0 0;
            background-color: @Grey;
        }
    }
}

/* @end Navigation */

/* @group Header */

header {
    width: 100%;
    height: 100%;
    background-color: red;

    .inner {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 36px 12px 12px 12px;
    }
}

/* @end Header */

/* @group Main */

main {
    overflow: hidden;
    margin: auto;
    width: 100%;
    height: auto;
    max-width: 1280px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 12px;

    .sub-nav {
        float: right;
        width: 100%;
        height: auto;
        margin-top: 12px;

        ul {
            float: left;
            list-style: none;
            width: 50%;
            height: auto;
            margin: 0;
            margin-bottom: 12px;
            padding: 0;

            li {
                width: 100%;
                height: auto;
                margin-bottom: 12px;
            }

            li:first-child {
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }

    .content-container {
        float: left;
        width: 100%;
        height: auto;

        .post {
            position: relative;

            .header {

                h2 {
                    float: left;
                    width: 100%;
                    height: auto;
                    margin: 12px 0 0 0;
                    line-height: 20px;

                    span {
                        white-space: nowrap;
                    }
                }

                span {
                    font-size: 12px;
                    font-weight: normal;
                }
            }

            .content {
                margin-top: 12px;

                img {
                    float: left;
                    width: 100%;
                    max-width: 100%;
                    margin-bottom: 12px;
                }
            }
        }
    }
}

/* @end Main */

/* @group Footer */

footer {
    margin: auto;
    width: 100%;
    height: 200px;
    background-color: green;
    clear: both;
    max-width: 1280px;
}

/* @end Footer */

/* @group Small devices */
@media screen and (min-width: 601px) {

    nav {
        padding-left: 12px;
        padding-right: 12px;

        .menu-button {
            display: none;
        }

        ul {
            width: auto;

            li {
                width: auto;
            }
        }
    }

    main {

        .sub-nav {
            width: 25%;

            ul {
                width: 100%;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                padding-left: 12px;
            }
        }

        .content-container {
            width: 75%;

            .post {
                .content {
                    img {
                        max-width: 320px;
                        margin-right: 12px;
                    }
                }
            }
        }
    }

}
/* @end Small devices */

/* @group Medium devices */
@media screen and (min-width: 961px) {

    main {

        .sub-nav {
            width: 20%;
        }

        .content-container {
            width: 80%;
        }
    }

}
/* @end Medium devices */

/* @group Large devices */
@media screen and (min-width: 1201px) {

}
/* @end Large devices */
